
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="~/Images/devnet-01.jpg" style="width: 300px; height: auto; padding: 50px" />
    <h1 class="display-4">Hello DevNet</h1>
    <p>Please push the Employee button to view the Task</p>
</div>

